
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.forgotpassword_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* password1 */
.forgotpassword_password1 {
	margin: 4px 0px 4px 0px;
}
/* password2 */
.forgotpassword_password2 {
	margin: 4px 0px 4px 0px;
}
/* newpassword */
#forgotpassword_newpassword {

}
.ui-btn.forgotpassword_newpassword {
	margin: 4px 5px 4px 5px;
}
/* spacer_5 */
.forgotpassword_spacer_5 {
	width: 260px; height: 21px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_6 */
.forgotpassword_mobilelabel_6 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* remove */
#forgotpassword_remove {

}
.ui-btn.forgotpassword_remove {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.forgotpassword_mobilefooter {
	min-height:38px;
}